
.encartelera {
    a{
        text-decoration: none;
    }
   
    .boton1 {
        margin-top: 10px;
        width: 50%;
        background-color:  rgb(40, 151, 170);
        color: #CAF0F8;
        padding: 15px 10px;
        border-radius: 8px;
         transition: all 0.3s ease-in-out;
    }

    .boton1:hover {
        background-color: white;
        color: black;
        transform: scaleX(1) ;
    }
  
}

