.menuregistro {
    background-image: url(../imagenes/entradacomplejo.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;


    .registro {
        display: grid;
        grid-template-columns: 10% 2fr 0.25fr 2fr 10%;
        grid-row: 1fr 1fr 1fr;
        align-items: center;

        .principal {
            grid-column: 2;
            grid-row: 1;
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            align-content: center;
            justify-content: center;
            align-items: center;
            margin-top: 5px;
            margin-left: 15%;
            margin-right: 15%;
            border: 1px solid black;
            padding: 15px 50px;
            background-color: #fdf5f5;

        }

        .selsexo {
            grid-column: 4;
            grid-row: 1;
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            margin-top: 5px;
            margin-left: 15%;
            margin-right: 15%;
            border: 1px solid black;
            padding: 15px 30px;
            background-color: #fdf5f5;
        }

        .infovital {
            grid-column: 4;
            grid-row: 3;
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            align-content: center;
            justify-content: center;
            align-items: center;
            margin-top: 5px;
            margin-left: 15%;
            margin-right: 15%;
            border: 1px solid black;
            padding: 15px 50px;
            background-color: #fdf5f5;
        }

        .ultimopaso {
            grid-column: 2;
            grid-row: 3;
            display: flex;
            flex-direction: column;
            margin-top: 10px;
            margin-bottom: 30px;
            align-items: center;
            margin-top: 30px;
            margin-left: 20%;
            margin-right: 20%;
            border: 1px solid black;
            padding: 25px 25px;
            background-color: #fdf5f5;
        }

        .enviar {
            grid-column: 2/5;
            grid-row: 4;
            margin-top: 20px;
            margin-bottom: 50px;
        }
    }

    @media screen and (max-width: 910px) {
        .registro {
            display: grid;
            grid-template-columns: 5% 1fr 5%;
            grid-row: 1fr 1fr 1fr 1fr 1fr;
            align-items: center;

            .principal {
                grid-column: 2;
                grid-row: 1;
            }

            .selsexo {
                grid-column: 2;
                grid-row: 2;
                margin-top: 20px;
            }

            .infovital {
                grid-column: 2;
                grid-row: 3;
                margin-top: 20px;
            }

            .ultimopaso {
                grid-column: 2;
                grid-row: 4;

            }

            .enviar {
                grid-column: 2;
                grid-row: 5;

            }
        }
    }
}