:root {
  --maincolor: #CAF0F8;
  --maintextcolor: #00B4D8;
  --secondarycolor: #0096C7;
  --terciarycolor: #03045E;
  --tarjetacartelera: #90e0ef;
}

body {
  background-color: var(--maincolor);
  text-align: center;
}

div .navbar-nav {
  padding-top: 0px;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  height: auto;
  width: auto;
}
div .navbar-nav li {
  background-color: rgb(255, 255, 255);
}

.carousel-inner {
  width: auto;
  height: auto;
}
.carousel-inner .carousel-item {
  text-align: center;
}
.carousel-inner div p {
  color: whitesmoke;
}
.carousel-inner div h5 {
  color: wheat;
}

.encartelera a {
  text-decoration: none;
}
.encartelera .boton1 {
  margin-top: 10px;
  width: 50%;
  background-color: rgb(40, 151, 170);
  color: #CAF0F8;
  padding: 15px 10px;
  border-radius: 8px;
  transition: all 0.3s ease-in-out;
}
.encartelera .boton1:hover {
  background-color: white;
  color: black;
  transform: scaleX(1);
}

/*cartelera*/
.titulos {
  margin: 50px 0px;
}

.encartelera {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.encartelera .estrenos {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--tarjetacartelera);
  width: 30%;
  border: 1px solid black;
  padding: 20px;
  border-radius: 30px;
  margin: 10px;
}
.encartelera .estrenos img {
  width: 250px;
}
.encartelera .estrenos:hover {
  filter: brightness(0.9);
}
.encartelera .no-estreno {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--tarjetacartelera);
  width: 30%;
  border: 1px solid black;
  padding: 20px;
  border-radius: 30px;
  margin: 10px;
}
.encartelera .no-estreno:hover {
  filter: brightness(0.9);
}

@media screen and (max-width: 1024px) {
  .encartelera {
    display: flex;
    justify-content: space-evenly;
  }
  .encartelera .estrenos {
    background-color: var(--tarjetacartelera);
    width: 45%;
    border: 10%;
    padding: 20px;
    border-radius: 30px;
    margin: 10px;
  }
  .encartelera .no-estreno {
    background-color: var(--tarjetacartelera);
    width: 45%;
    border: 10%;
    padding: 20px;
    border-radius: 30px;
    margin: 10px;
  }
}
@media screen and (max-width: 768px) {
  .encartelera {
    display: flex;
    justify-content: space-evenly;
  }
  .encartelera .estrenos {
    background-color: var(--tarjetacartelera);
    width: 45%;
    border: 10%;
    padding: 20px;
    border-radius: 30px;
    margin: 10px;
  }
  .encartelera .estrenos img {
    max-width: 160px;
  }
  .encartelera .no-estreno {
    background-color: var(--tarjetacartelera);
    width: 45%;
    border: 10%;
    padding: 20px;
    border-radius: 30px;
    margin: 10px;
  }
  .encartelera .no-estreno img {
    max-width: 160px;
  }
}
@media screen and (max-width: 600px) {
  header {
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px;
  }
  nav ul {
    background-color: black;
    display: flex;
    flex-direction: column;
    padding: 5px 10px 15px 10px;
  }
  .encartelera {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .encartelera .estrenos {
    background-color: var(--tarjetacartelera);
    width: 80%;
    border-radius: 30px;
  }
  .encartelera .estrenos img {
    max-width: 200px;
  }
  .encartelera .no-estreno {
    background-color: var(--tarjetacartelera);
    width: 80%;
    border-radius: 30px;
  }
  .encartelera .no-estreno img {
    max-width: 200px;
  }
  footer section {
    font-size: small;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  footer section img {
    max-width: 50px;
  }
}
.lista-proximos div {
  display: flex;
  padding-left: 15%;
  padding-right: 15%;
  padding-bottom: 20px;
}
.lista-proximos div img {
  max-width: 250px;
  max-height: 250px;
}
.lista-proximos div article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.lista-proximos div h3:hover {
  text-decoration: underline 1px;
}
.lista-proximos div .infoders {
  height: 100%;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .mainestrenos {
    display: flex;
    flex-direction: column;
  }
  .mainestrenos div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
  }
  .mainestrenos div h3 {
    font-size: 30px;
  }
  .mainestrenos div img {
    margin-bottom: 30px;
  }
  .mainestrenos div p {
    margin: 0px 15px 0px 15px;
  }
}
.promofondo {
  background-image: url(../imagenes/entradacomplejo.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  padding-bottom: 10%;
}
.promofondo .titulo {
  text-decoration: underline;
}

.promos {
  padding-left: 10%;
  padding-right: 10%;
}
.promos h2 {
  font-size: 35px;
}
.promos .a2x1 {
  padding-bottom: 30px;
}
.promos .a2x1 .imagenent {
  height: 120px;
  width: 170px;
  transition: 2s all ease;
}
.promos .a2x1 .imagenent:hover {
  transform: scale(1.3);
}
.promos .a2x1 article {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 0.25fr 1fr 0.75fr;
  justify-items: center;
  padding-top: 5%;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
}
.promos .a2x1 article h3 {
  grid-column: 2/4;
}
.promos .a2x1 article .merimg {
  grid-column: 1;
  grid-row: 1/4;
  height: 60%;
  width: 90%;
  object-fit: contain;
}
.promos .a2x1 article .icbcimg {
  grid-column: 1;
  grid-row: 1/4;
  height: 80px;
  width: 80%;
  object-fit: contain;
}
.promos .a2x1 article .appimg {
  grid-column: 1;
  grid-row: 1/4;
  height: 60%;
  width: 60%;
  object-fit: contain;
}
.promos .a2x1 article p {
  grid-column: 2/4;
  grid-row: 2;
  padding: 0px 25px 0px 25px;
  margin-bottom: 0px;
}
.promos .a2x1 article h6 {
  grid-column: 4;
  grid-row: 2;
  margin-bottom: 0px;
}
.promos .a2x1 .promer {
  background-color: #CAF0F8;
}
.promos .a2x1 .icbc {
  background-color: #CAF0F8;
}
.promos .a2x1 .app {
  background-color: #CAF0F8;
}
.promos .off {
  padding-top: 25px;
}
.promos .off .cincoff {
  height: 125px;
  width: 125px;
  transition: 2s all ease;
  padding-bottom: 15px;
}
.promos .off .cincoff:hover {
  transform: scale(1.3);
}
.promos .off article {
  display: grid;
  grid-template-columns: 1.25fr 0.75fr 0.75fr 1.25fr;
  grid-template-rows: 0.2fr 0.25fr 0.25fr 0.2fr;
  justify-items: center;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
}
.promos .off article h3 {
  grid-column: 2/4;
  grid-row: 2;
}
.promos .off article .galicimg {
  grid-column: 2/4;
  grid-row: 1;
  height: 100px;
  width: 200px;
  object-fit: contain;
}
.promos .off article .carreimg {
  grid-column: 2/4;
  grid-row: 1;
  height: 150px;
  width: 200px;
  justify-items: center;
  object-fit: contain;
}
.promos .off article p {
  grid-column: 1/5;
  grid-row: 3;
  padding: 0px 0px 0px 0px;
}
.promos .off article h6 {
  grid-column: 2/4;
  grid-row: 4;
}
.promos .off .galic {
  background-color: #CAF0F8;
}
.promos .off .carre {
  background-color: #CAF0F8;
}
.promos .promocandy {
  padding-top: 25px;
}
.promos .promocandy .combomym {
  width: 175px;
  padding-right: 50px;
  transition: 2s all ease;
  padding-bottom: 15px;
}
.promos .promocandy .combomym:hover {
  transform: scale(1.3);
  transform: rotate(1turn);
}
.promos .promocandy .combobald {
  width: 175px;
  padding-left: 50px;
  transition: 2s all ease;
  padding-bottom: 15px;
}
.promos .promocandy .combobald:hover {
  transform: scale(1.3);
  transform: rotate(1turn);
}
.promos .promocandy article {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1.5fr 1fr;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
}
.promos .promocandy article h3 {
  grid-column: 2/4;
  grid-row: 1;
}
.promos .promocandy article .ypfimg {
  grid-column: 4;
  grid-row: 1/5;
  justify-items: center;
  height: 80%;
  width: 80%;
  object-fit: contain;
}
.promos .promocandy article .tresseisimg {
  grid-column: 4;
  grid-row: 1/5;
  justify-items: center;
  height: 60%;
  width: 80%;
  object-fit: contain;
}
.promos .promocandy article p {
  grid-column: 2/4;
  grid-row: 2;
  padding: 0px 0px 0px 0px;
}
.promos .promocandy article h6 {
  grid-column: 2/4;
  grid-row: 3;
}
.promos .promocandy .servic {
  background-color: #CAF0F8;
}
.promos .promocandy .tresseis {
  background-color: #CAF0F8;
}

@media screen and (max-width: 700px) {
  .promos .a2x1 .imagenent {
    height: 70px;
    width: 70px;
    transition: 2s all ease;
  }
  .promos .a2x1 .imagenent:hover {
    transform: scale(1.4);
  }
  .promos .a2x1 article {
    display: grid;
    grid-template-columns: 10% 1fr 1fr 10%;
    grid-template-rows: 10% 0.5 1fr 10%;
  }
  .promos .a2x1 article h3 {
    grid-column: 2/4;
  }
  .promos .a2x1 article .merimg {
    grid-column: 2/4;
    grid-row: 2;
    height: 120px;
    width: 250px;
  }
  .promos .a2x1 article .icbcimg {
    grid-column: 2/4;
    grid-row: 2;
  }
  .promos .a2x1 article .appimg {
    grid-column: 2/4;
    grid-row: 2;
    height: 150px;
  }
  .promos .a2x1 article p {
    grid-column: 2/4;
    grid-row: 3;
  }
  .promos .a2x1 article h6 {
    grid-column: 2/4;
    grid-row: 4;
    margin-bottom: 10px;
  }
  .promos .promocandy h2 {
    font-size: medium;
  }
  .promos .promocandy .combomym {
    height: 80px;
    width: 100px;
    transition: 2s all ease;
  }
  .promos .promocandy .combomym:hover {
    transform: scale(1.3);
    transform: rotate(1turn);
  }
  .promos .promocandy .combobald {
    height: 80px;
    width: 100px;
    transition: 2s all ease;
  }
  .promos .promocandy .combobald:hover {
    transform: scale(1.3);
    transform: rotate(1turn);
  }
  .promos .promocandy article {
    display: grid;
    grid-template-columns: 10% 50% 1fr 10%;
    grid-template-rows: 10% 0.5fr 0.5fr 10%;
    justify-items: center;
  }
  .promos .promocandy article h3 {
    grid-column: 2/4;
  }
  .promos .promocandy article .ypfimg {
    grid-column: 2/4;
    grid-row: 2;
    height: 120px;
    width: 250px;
  }
  .promos .promocandy article .tresseisimg {
    grid-column: 2/4;
    grid-row: 2;
    width: 80%;
    height: 80%;
  }
  .promos .promocandy article p {
    grid-column: 2/4;
    grid-row: 3;
  }
  .promos .promocandy article h6 {
    grid-column: 2/4;
    grid-row: 4;
    margin-bottom: 10px;
  }
}
.menuregistro {
  background-image: url(../imagenes/entradacomplejo.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}
.menuregistro .registro {
  display: grid;
  grid-template-columns: 10% 2fr 0.25fr 2fr 10%;
  grid-row: 1fr 1fr 1fr;
  align-items: center;
}
.menuregistro .registro .principal {
  grid-column: 2;
  grid-row: 1;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
  margin-left: 15%;
  margin-right: 15%;
  border: 1px solid black;
  padding: 15px 50px;
  background-color: #fdf5f5;
}
.menuregistro .registro .selsexo {
  grid-column: 4;
  grid-row: 1;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
  margin-left: 15%;
  margin-right: 15%;
  border: 1px solid black;
  padding: 15px 30px;
  background-color: #fdf5f5;
}
.menuregistro .registro .infovital {
  grid-column: 4;
  grid-row: 3;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
  margin-left: 15%;
  margin-right: 15%;
  border: 1px solid black;
  padding: 15px 50px;
  background-color: #fdf5f5;
}
.menuregistro .registro .ultimopaso {
  grid-column: 2;
  grid-row: 3;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  margin-bottom: 30px;
  align-items: center;
  margin-top: 30px;
  margin-left: 20%;
  margin-right: 20%;
  border: 1px solid black;
  padding: 25px 25px;
  background-color: #fdf5f5;
}
.menuregistro .registro .enviar {
  grid-column: 2/5;
  grid-row: 4;
  margin-top: 20px;
  margin-bottom: 50px;
}
@media screen and (max-width: 910px) {
  .menuregistro .registro {
    display: grid;
    grid-template-columns: 5% 1fr 5%;
    grid-row: 1fr 1fr 1fr 1fr 1fr;
    align-items: center;
  }
  .menuregistro .registro .principal {
    grid-column: 2;
    grid-row: 1;
  }
  .menuregistro .registro .selsexo {
    grid-column: 2;
    grid-row: 2;
    margin-top: 20px;
  }
  .menuregistro .registro .infovital {
    grid-column: 2;
    grid-row: 3;
    margin-top: 20px;
  }
  .menuregistro .registro .ultimopaso {
    grid-column: 2;
    grid-row: 4;
  }
  .menuregistro .registro .enviar {
    grid-column: 2;
    grid-row: 5;
  }
}

.contenedorubi {
  display: grid;
  grid-template-columns: 1fr 0.5fr 0.25fr;
  grid-template-rows: 1fr 1.5fr 1.5fr 1.5fr 1.5fr 1.5fr;
  justify-items: start;
}
.contenedorubi h1 {
  grid-column: 1/4;
  grid-row: 1;
  padding-left: 20px;
  padding-bottom: 10px;
}
.contenedorubi iframe {
  padding-left: 10%;
  grid-column: 1;
  grid-row: 2/7;
  width: 100%;
  height: 100%;
}
.contenedorubi h3 {
  grid-column: 2/5;
  grid-row: 2;
  padding-left: 10px;
}
.contenedorubi .h41 {
  grid-column: 2/5;
  grid-row: 3;
  padding-left: 10px;
}
.contenedorubi .h42 {
  grid-column: 2/5;
  grid-row: 4;
  padding-left: 10px;
}
.contenedorubi .h43 {
  grid-column: 2/5;
  grid-row: 5;
  padding-left: 10px;
}
.contenedorubi h5 {
  grid-column: 2/5;
  grid-row: 6;
  padding-left: 10px;
}

@media screen and (max-width: 900px) {
  .contenedorubi {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .contenedorubi iframe {
    width: 50%;
    height: 50%;
    padding: 10px 10px 10px 10px;
  }
}
/*contacto*/
.escribenos {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.escribenos textarea {
  height: 200px;
  margin-top: 15px;
}

footer fieldset {
  padding: 0px 0px 0px 0px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 15% 0.25fr 0.75fr 10%;
  background-color: var(--terciarycolor);
  color: var(--maintextcolor);
}
footer fieldset nav {
  grid-column: 1;
  grid-row: 2/5;
}
footer fieldset nav .linkfooter {
  display: flex;
  flex-direction: column;
  background-color: var(--terciarycolor);
  list-style-type: none;
  padding: 1% 1% 1% 1%;
}
footer fieldset section {
  grid-column: 5;
  grid-row: 2;
}
footer fieldset h4 {
  grid-column: 1/6;
  grid-row: 1;
}
footer fieldset h5 {
  grid-column: 2/5;
  grid-row: 2;
}
footer fieldset span {
  grid-column: 4/6;
  grid-row: 4;
}
footer fieldset a {
  color: var(--maintextcolor);
  text-decoration: none;
  list-style: none;
}
@media screen and (max-width: 900px) {
  footer fieldset {
    display: flex;
    flex-direction: column;
  }
}



/*# sourceMappingURL=style.css.map */
