:root {
  --maincolor: #CAF0F8;
  --maintextcolor: #00B4D8;
  --secondarycolor: #0096C7;
  --terciarycolor: #03045E;
  --tarjetacartelera: #90e0ef;
}

div .navbar-nav {
  padding-top: 0px;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
}
div .navbar-nav li {
  background-color: rgb(255, 255, 255);
}

.encartelera a {
  text-decoration: none;
}
.encartelera .boton1 {
  margin-top: 10px;
  width: 50%;
  background-color: rgb(40, 151, 170);
  color: #CAF0F8;
  padding: 15px 10px;
  border-radius: 8px;
  transition: all 0.3s ease-in-out;
}
.encartelera .boton1:hover {
  background-color: white;
  color: black;
  transform: scaleX(1);
}

body {
  background-color: var(--maincolor);
  text-align: center;
}

.carousel-inner {
  width: auto;
  height: auto;
}

div div div p {
  color: whitesmoke;
}
div div div h5 {
  color: wheat;
}

.carousel-item {
  text-align: center;
}

/*cartelera*/
.titulos {
  margin: 50px 0px;
}

.encartelera {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.encartelera .estrenos {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--tarjetacartelera);
  width: 30%;
  border: 1px solid black;
  padding: 20px;
  border-radius: 30px;
  margin: 10px;
}
.encartelera .estrenos img {
  width: 250px;
}
.encartelera .estrenos:hover {
  filter: brightness(0.9);
}
.encartelera .no-estreno {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--tarjetacartelera);
  width: 30%;
  border: 1px solid black;
  padding: 20px;
  border-radius: 30px;
  margin: 10px;
}
.encartelera .no-estreno:hover {
  filter: brightness(0.9);
}

@media screen and (max-width: 1024px) {
  .encartelera {
    display: flex;
    justify-content: space-evenly;
  }
  .encartelera .estrenos {
    background-color: var(--tarjetacartelera);
    width: 45%;
    border: 10%;
    padding: 20px;
    border-radius: 30px;
    margin: 10px;
  }
  .encartelera .no-estreno {
    background-color: var(--tarjetacartelera);
    width: 45%;
    border: 10%;
    padding: 20px;
    border-radius: 30px;
    margin: 10px;
  }
}
@media screen and (max-width: 768px) {
  .encartelera {
    display: flex;
    justify-content: space-evenly;
  }
  .encartelera .estrenos {
    background-color: var(--tarjetacartelera);
    width: 45%;
    border: 10%;
    padding: 20px;
    border-radius: 30px;
    margin: 10px;
  }
  .encartelera .estrenos img {
    max-width: 160px;
  }
  .encartelera .no-estreno {
    background-color: var(--tarjetacartelera);
    width: 45%;
    border: 10%;
    padding: 20px;
    border-radius: 30px;
    margin: 10px;
  }
  .encartelera .no-estreno img {
    max-width: 160px;
  }
}
@media screen and (max-width: 425px) {
  header {
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px;
  }
  nav ul {
    background-color: black;
    display: flex;
    flex-direction: column;
    padding: 5px 10px 15px 10px;
  }
  .encartelera {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .encartelera .estrenos {
    background-color: var(--tarjetacartelera);
    width: 80%;
    border-radius: 30px;
  }
  .encartelera .estrenos img {
    max-width: 200px;
  }
  .encartelera .no-estreno {
    background-color: var(--tarjetacartelera);
    width: 80%;
    border-radius: 30px;
  }
  .encartelera .no-estreno img {
    max-width: 200px;
  }
  footer section {
    font-size: small;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  footer section img {
    max-width: 50px;
  }
}
.lista-proximos div {
  display: flex;
}
.lista-proximos div img {
  max-width: 250px;
  max-height: 250px;
}
.lista-proximos div article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.lista-proximos div h3:hover {
  text-decoration: underline 1px;
}
.lista-proximos div .infoders {
  height: 100%;
  text-align: center;
}

@media screen and (max-width: 768px) {
  main {
    display: flex;
    flex-direction: column;
  }
  main div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
  }
  main div h3 {
    font-size: 30px;
  }
  main div img {
    margin-bottom: 30px;
  }
  main div p {
    margin: 0px 10px 0px 10px;
  }
}
.promofondo {
  background-color: rgb(255, 255, 255);
}
.promofondo .titulo {
  text-decoration: underline;
}

.promos h2 {
  font-size: 35px;
}
.promos .a2x1 {
  padding-bottom: 30px;
}
.promos .a2x1 .imagenent {
  height: 120px;
  width: 170px;
  transition: 2s all ease;
}
.promos .a2x1 .imagenent:hover {
  transform: scale(1.3);
}
.promos .a2x1 article {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 0.25fr 1fr 0.75fr;
  justify-items: center;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
}
.promos .a2x1 article h3 {
  grid-column: 2/4;
}
.promos .a2x1 article .merimg {
  grid-column: 1;
  grid-row: 1/4;
  height: 60%;
  width: 90%;
}
.promos .a2x1 article .icbcimg {
  grid-column: 1;
  grid-row: 1/4;
  height: 80px;
  width: 80%;
}
.promos .a2x1 article .appimg {
  grid-column: 1;
  grid-row: 1/4;
  height: 60%;
  width: 60%;
}
.promos .a2x1 article p {
  grid-column: 2/4;
  grid-row: 2;
  padding: 0px 25px 0px 25px;
  margin-bottom: 0px;
}
.promos .a2x1 article h6 {
  grid-column: 4;
  grid-row: 2;
  margin-bottom: 0px;
}
.promos .a2x1 .promer {
  background-color: #daffff;
}
.promos .a2x1 .icbc {
  background-color: #c3ffff;
}
.promos .a2x1 .app {
  background-color: #a5ffff;
}
.promos .off {
  padding-top: 25px;
}
.promos .off .cincoff {
  height: 125px;
  width: 125px;
  transition: 2s all ease;
  padding-bottom: 15px;
}
.promos .off .cincoff:hover {
  transform: scale(1.3);
}
.promos .off article {
  display: grid;
  grid-template-columns: 1.25fr 0.75fr 0.75fr 1.25fr;
  grid-template-rows: 0.2fr 0.25fr 0.25fr 0.2fr;
  justify-items: center;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
}
.promos .off article h3 {
  grid-column: 2/4;
  grid-row: 2;
}
.promos .off article .galicimg {
  grid-column: 2/4;
  grid-row: 1;
  height: 100px;
  width: 200px;
}
.promos .off article .carreimg {
  grid-column: 2/4;
  grid-row: 1;
  height: 150px;
  width: 200px;
  justify-items: center;
}
.promos .off article p {
  grid-column: 1/5;
  grid-row: 3;
  padding: 0px 0px 0px 0px;
}
.promos .off article h6 {
  grid-column: 2/4;
  grid-row: 4;
}
.promos .off .galic {
  background-color: #84ffff;
}
.promos .off .carre {
  background-color: #64ffff;
}
.promos .promocandy {
  padding-top: 25px;
}
.promos .promocandy .combomym {
  width: 175px;
  padding-right: 50px;
  transition: 2s all ease;
  padding-bottom: 15px;
}
.promos .promocandy .combomym:hover {
  transform: scale(1.3);
  transform: rotate(1turn);
}
.promos .promocandy .combobald {
  width: 175px;
  padding-left: 50px;
  transition: 2s all ease;
  padding-bottom: 15px;
}
.promos .promocandy .combobald:hover {
  transform: scale(1.3);
  transform: rotate(1turn);
}
.promos .promocandy article {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1.5fr 1fr;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
}
.promos .promocandy article h3 {
  grid-column: 2/4;
  grid-row: 1;
}
.promos .promocandy article .ypfimg {
  grid-column: 4;
  grid-row: 1/5;
  justify-items: center;
  height: 80%;
  width: 80%;
}
.promos .promocandy article .tresseisimg {
  grid-column: 4;
  grid-row: 1/5;
  justify-items: center;
  height: 60%;
  width: 80%;
}
.promos .promocandy article p {
  grid-column: 2/4;
  grid-row: 2;
  padding: 0px 0px 0px 0px;
}
.promos .promocandy article h6 {
  grid-column: 2/4;
  grid-row: 3;
}
.promos .promocandy .servic {
  background-color: #2dffff;
}
.promos .promocandy .tresseis {
  background-color: #0bffff;
}

@media screen and (max-width: 425px) {
  .promos .a2x1 .imagenent {
    height: 70px;
    width: 70px;
    transition: 2s all ease;
  }
  .promos .a2x1 .imagenent:hover {
    transform: scale(1.4);
  }
  .promos .a2x1 article {
    display: grid;
    grid-template-columns: 10% 1fr 1fr 10%;
    grid-template-rows: 10% 0.5 1fr 10%;
  }
  .promos .a2x1 article h3 {
    grid-column: 2/4;
  }
  .promos .a2x1 article .merimg {
    grid-column: 2/4;
    grid-row: 2;
    height: 120px;
    width: 250px;
  }
  .promos .a2x1 article .icbcimg {
    grid-column: 2/4;
    grid-row: 2;
  }
  .promos .a2x1 article .appimg {
    grid-column: 2/4;
    grid-row: 2;
    height: 150px;
  }
  .promos .a2x1 article p {
    grid-column: 2/4;
    grid-row: 3;
  }
  .promos .a2x1 article h6 {
    grid-column: 2/4;
    grid-row: 4;
    margin-bottom: 10px;
  }
  .promos .promocandy h2 {
    font-size: medium;
  }
  .promos .promocandy .combomym {
    height: 80px;
    width: 100px;
    transition: 2s all ease;
  }
  .promos .promocandy .combomym:hover {
    transform: scale(1.3);
    transform: rotate(1turn);
  }
  .promos .promocandy .combobald {
    height: 80px;
    width: 100px;
    transition: 2s all ease;
  }
  .promos .promocandy .combobald:hover {
    transform: scale(1.3);
    transform: rotate(1turn);
  }
  .promos .promocandy article {
    display: grid;
    grid-template-columns: 10% 50% 1fr 10%;
    grid-template-rows: 10% 0.5fr 0.5fr 10%;
    justify-items: center;
  }
  .promos .promocandy article h3 {
    grid-column: 2/4;
  }
  .promos .promocandy article .ypfimg {
    grid-column: 2/4;
    grid-row: 2;
    height: 120px;
    width: 250px;
  }
  .promos .promocandy article .tresseisimg {
    grid-column: 2/4;
    grid-row: 2;
    width: 80%;
    height: 80%;
  }
  .promos .promocandy article p {
    grid-column: 2/4;
    grid-row: 3;
  }
  .promos .promocandy article h6 {
    grid-column: 2/4;
    grid-row: 4;
    margin-bottom: 10px;
  }
}
.registro {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.registro .principal {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  margin-bottom: 30px;
}
.registro .selsexo {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  margin-bottom: 30px;
}
.registro .infovital {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  margin-bottom: 30px;
}
.registro .ultimopaso {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  margin-bottom: 30px;
}

@media screen and (max-width: 768px) {
  section .ubi iframe {
    width: 100%;
    height: 100%;
  }
}
/*contacto*/
.escribenos {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.escribenos textarea {
  height: 200px;
  margin-top: 15px;
}

footer {
  background-color: var(--terciarycolor);
  color: var(--maintextcolor);
}
footer nav .linkfooter {
  display: flex;
  flex-direction: column;
  background-color: var(--terciarycolor);
  list-style-type: none;
}
footer a {
  color: var(--maintextcolor);
  text-decoration: none;
  list-style: none;
}



/*# sourceMappingURL=style.css.map */
