.promofondo {
  background-color: rgb(251, 255, 240);

  .titulo {
    text-decoration: underline;
  }

}

.promos {
  .a2x1 {
    article {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-template-rows: 0.25fr 1fr 0.25fr;

      h3 {
        grid-column: 2/4
      }

      img {
        grid-column: 1;
        grid-row: 1/4;
      }

      p {
        grid-column: 2/4;
        grid-row: 2;
        padding: 0px 25px 0px 25px;
      }

      justify-content: center;
      align-items: center;

      img {
        height: 175px;
        width: 100%;
      }

      h6 {
        grid-column: 4;
        grid-row: 2;
      }

      border: 1px solid black;

    }

    .promer {
      background-color: #daffff;
    }

    .icbc {
      background-color: #c3ffff;
    }

    .app {
      background-color: #a5ffff;

    }

    padding-bottom: 30px;
  }
  .off {
    padding-top: 25px;

    article {
      display: grid;
      grid-template-columns: 1.25fr 0.75fr 0.75fr 1.25fr;
      grid-template-rows: 0.25fr 0.25fr 0.25fr 0.25fr;

      h3 {
        grid-column: 2/4;
        grid-row: 2;
      }

      img {
        grid-column: 2/4;
        grid-row: 1;
      }

      p {
        grid-column: 1/5;
        grid-row: 3;
        padding: 0px 0px 0px 0px;
      }

      justify-content: center;
      align-items: center;

      img {
        height: 100%;
        width: 100%;
        justify-items: center;
      }

      h6 {
        grid-column: 2/4;
        grid-row: 4;
      }

      border: 1px solid black;
    }

    .galic {
      background-color: #7affff;
    }

    .carre {
      background-color: #4fffff;
    }
  }
  .promocandy {
    padding-top: 25px;

    article {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-template-rows: 25% 0.25fr 0.25fr;
      
      h3{
        grid-column: 2/4;
        grid-row: 1;
      }

      img {
        grid-column: 4;
        grid-row: 1/5;
        justify-items: center;
        height: 100%;
        width: 100%;
      }

      p {
        grid-column: 2/4;
        grid-row: 2;
        padding: 0px 0px 0px 0px;
      }

      justify-content: center;
      align-items: center;

      h6 {
        grid-column: 2/4;
        grid-row: 3;
      }

      border: 1px solid black;
    }

    .servic {
      background-color: #2dffff;
    }

    .tresseis {
      background-color: #19ffff;
    }
    
  }
}
